<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashu.huashuManager.mapper.BasicInfoMapper">
  <resultMap id="BaseResultMap" type="com.huashu.huashuManager.model.BasicInfo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="driverName" jdbcType="VARCHAR" property="driverName" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="vin" jdbcType="VARCHAR" property="vin" />
    <result column="engine_no" jdbcType="VARCHAR" property="engineNo" />
    <result column="vehicle" jdbcType="VARCHAR" property="vehicle" />
    <result column="use_character" jdbcType="VARCHAR" property="useCharacter" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="power_type" jdbcType="VARCHAR" property="powerType" />
    <result column="reg_date" jdbcType="VARCHAR" property="regDate" />
    <result column="issue_date" jdbcType="VARCHAR" property="issueDate" />
    <result column="repair_check_date" jdbcType="VARCHAR" property="repairCheckDate" />
    <result column="deltag" jdbcType="VARCHAR" property="deltag" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="companyId" jdbcType="VARCHAR" property="companyid" />
    <collection property="insuranceInfos" ofType="com.huashu.huashuManager.model.InsuranceInfo">
      <result column="comp_ins_start" jdbcType="VARCHAR" property="compInsStart"/>
      <result column="comp_ins_end" jdbcType="VARCHAR" property="compInsEnd"/>
      <result column="busi_ins_start" jdbcType="VARCHAR" property="busiInsStart"/>
      <result column="busi_ins_end" jdbcType="VARCHAR" property="busiInsEnd"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from basic_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huashu.huashuManager.model.BasicInfo">
    insert into basic_info (id, customer, factory, 
      plate_no, vin, engine_no, 
      vehicle, use_character, owner, 
      address, model, power_type, 
      reg_date, issue_date, repair_check_date, 
      deltag, IMEI, companyId
      )
    values (#{id,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, 
      #{plateNo,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{engineNo,jdbcType=VARCHAR}, 
      #{vehicle,jdbcType=VARCHAR}, #{useCharacter,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{powerType,jdbcType=VARCHAR}, 
      #{regDate,jdbcType=DATE}, #{issueDate,jdbcType=DATE}, #{repairCheckDate,jdbcType=DATE}, 
      #{deltag,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, #{companyid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huashu.huashuManager.model.BasicInfo">
    update basic_info
    set customer = #{customer,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      plate_no = #{plateNo,jdbcType=VARCHAR},
      vin = #{vin,jdbcType=VARCHAR},
      engine_no = #{engineNo,jdbcType=VARCHAR},
      vehicle = #{vehicle,jdbcType=VARCHAR},
      use_character = #{useCharacter,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      power_type = #{powerType,jdbcType=VARCHAR},
      reg_date = #{regDate,jdbcType=DATE},
      issue_date = #{issueDate,jdbcType=DATE},
      repair_check_date = #{repairCheckDate,jdbcType=DATE},
      deltag = #{deltag,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      companyId = #{companyid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
       select t.id, p.company as customer, q.name as driverName,t.factory, t.plate_no, t.vin, t.engine_no, t.vehicle, t.use_character, t.owner,
    t.address, t.model, t.power_type,t.reg_date, t.issue_date, t.repair_check_date, t.deltag, t.IMEI,
    t.companyId , k.comp_ins_start,k.comp_ins_end,k.busi_ins_start,k.busi_ins_end
    from basic_info t
    LEFT JOIN insurance_info k ON t.plate_no = k.plate_no
    LEFT JOIN customers p on t.companyId=p.id
    LEFT JOIN driver_info q on q.plate_no=t.plate_no
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, customer, factory, plate_no, vin, engine_no, vehicle, use_character, owner, 
    address, model, power_type, reg_date, issue_date, repair_check_date, deltag, IMEI, 
    companyId
    from basic_info
  </select>

  <select id="pageListBasic" parameterType="com.huashu.huashuManager.model.BasicInfo" resultMap="BaseResultMap">
    select t.id,
    <if test="companyid==null or companyid==''">
      p.company as customer,t.factory,
    </if>
    q.name as driverName,t.plate_no, t.vin, t.engine_no, t.vehicle, t.use_character, t.owner,
    t.address, t.model, t.power_type,t.reg_date, t.issue_date, t.repair_check_date, t.deltag, t.IMEI,
    t.companyId , k.comp_ins_start,k.comp_ins_end,k.busi_ins_start,k.busi_ins_end
    from basic_info t
    LEFT JOIN insurance_info k ON t.plate_no = k.plate_no
    LEFT JOIN customers p on t.companyId=p.id
    LEFT JOIN driver_info q on q.plate_no=t.plate_no
    where 1=1
    <if test="plateNo!=null and plateNo!=''">
      and t.plate_no LIKE  CONCAT(CONCAT('%',#{plateNo,jdbcType=VARCHAR}),'%')
    </if>
    <if test="companyid!=null and companyid!=''">
      and t.companyid=#{companyid,jdbcType=VARCHAR}
    </if>
    <!--<if test="customer!=null and customer!=''">-->
      <!--and p.customer=#{customer,jdbcType=VARCHAR}-->
    <!--</if>-->
    <if test="customer!=null and customer!=''">
      and p.company LIKE CONCAT(CONCAT('%',#{customer,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  <select id="getImeiLIst" resultType="String">
    SELECT imei from basic_info where imei is not null and imei !=''
  </select>
</mapper>