<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashu.huashuManager.mapper.CustomersMapper">
  <resultMap id="BaseResultMap" type="com.huashu.huashuManager.model.Customers">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="abb" jdbcType="VARCHAR" property="abb" />
    <result column="cn_abb" jdbcType="VARCHAR" property="cnAbb" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="tax_id" jdbcType="VARCHAR" property="taxId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="total_sale" jdbcType="INTEGER" property="totalSale" />
    <result column="last_sale" jdbcType="INTEGER" property="lastSale" />
    <result column="album" jdbcType="VARCHAR" property="album" />
    <result column="rem" jdbcType="VARCHAR" property="rem" />
    <result column="deltag" jdbcType="VARCHAR" property="deltag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customers
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huashu.huashuManager.model.Customers">
    insert into customers (id, company, user_id, 
      abb, cn_abb, legal_person, 
      we_chat, province, town, 
      bank_name, bank_account, tel, 
      tax_id, level, total_sale, 
      last_sale, album, rem, 
      deltag)
    values (#{id,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{abb,jdbcType=VARCHAR}, #{cnAbb,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, 
      #{weChat,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{taxId,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{totalSale,jdbcType=INTEGER}, 
      #{lastSale,jdbcType=INTEGER}, #{album,jdbcType=VARCHAR}, #{rem,jdbcType=VARCHAR}, 
      #{deltag,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huashu.huashuManager.model.Customers">
    update customers
    set company = #{company,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      abb = #{abb,jdbcType=VARCHAR},
      cn_abb = #{cnAbb,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      we_chat = #{weChat,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      tax_id = #{taxId,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      total_sale = #{totalSale,jdbcType=INTEGER},
      last_sale = #{lastSale,jdbcType=INTEGER},
      album = #{album,jdbcType=VARCHAR},
      rem = #{rem,jdbcType=VARCHAR},
      deltag = #{deltag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, company, user_id, abb, cn_abb, legal_person, we_chat, province, town, 
    bank_name, bank_account, tel, tax_id, level, total_sale, last_sale, album, rem, deltag
    from customers
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select id, company, user_id, abb, cn_abb, legal_person, we_chat, province, town,
    bank_name, bank_account, tel, tax_id, level, total_sale, last_sale, album, rem, deltag
    from customers
  </select>


  <select id="selectAllCompanyAndId" resultMap="BaseResultMap">
    select DISTINCT company,id from customers
  </select>

  <select id="selectList" resultMap="BaseResultMap" parameterType="com.huashu.huashuManager.model.Customers">
    select id, company, user_id, abb, cn_abb, legal_person, we_chat, province, town,
    bank_name, bank_account, tel, tax_id, level, total_sale, last_sale, album, rem, deltag
    from customers WHERE  1=1
    <if test="company != null and company !=''">
      and company LIKE CONCAT(CONCAT('%',#{company,jdbcType=VARCHAR}),'%')
    </if>
    <if test="abb != null and abb !=''">
      and abb = #{abb,jdbcType=VARCHAR}
    </if>
    <if test="cnAbb != null and cnAbb !=''">
      and cn_abb = #{cnAbb,jdbcType=VARCHAR}
    </if>
    <if test="province != null and province !=''">
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="town != null and town !=''">
      and town = #{town,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="gitImeiCompany"  resultType="com.huashu.huashuManager.model.BasicInfo">
      SELECT c.company as customer , t.companyId from (SELECT companyId from basic_info where imei is not null ) t left join customers c on t.companyId = c.id
  </select>


  <select id="gitCompanyCar" parameterType="com.huashu.huashuManager.model.BasicInfo" resultType="com.huashu.huashuManager.model.BasicInfo">
      select t.company as customer, k.id,k.plate_No as plateNo,k.owner,k.address,k.model,k.power_type,k.imei from basic_info k left join customers t on k.companyId =t.id where k.companyid=#{companyid,jdbcType=VARCHAR} and k.imei is not null and k.imei !=''
  </select>

  <select id="getDriver" resultType="com.huashu.huashuManager.model.DriverInfo">
    select a.id,b.companyid from driver_info a left join basic_info b on  a.plate_no=b.plate_no

  </select>

  <update id="updateDrivar" parameterType="com.huashu.huashuManager.model.DriverInfo">
    UPDATE driver_info set companyid = #{companyid}  where id=#{id};

  </update>
</mapper>