<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashu.huashuManager.mapper.DriverInfoMapper">
  <resultMap id="BaseResultMap" type="com.huashu.huashuManager.model.DriverInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="drive_type" jdbcType="VARCHAR" property="driveType" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="on_job" jdbcType="INTEGER" property="onJob" />
    <result column="deltag" jdbcType="VARCHAR" property="deltag" />
    <result column="companyid" jdbcType="VARCHAR" property="companyid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from driver_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huashu.huashuManager.model.DriverInfo">
    insert into driver_info (id, name, phone, 
      sex, plate_no, company, 
      drive_type, address, birth, 
      nation, on_job, deltag, 
      companyid)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{plateNo,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{driveType,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, 
      #{nation,jdbcType=VARCHAR}, #{onJob,jdbcType=INTEGER}, #{deltag,jdbcType=VARCHAR}, 
      #{companyid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huashu.huashuManager.model.DriverInfo">
    update driver_info
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      plate_no = #{plateNo,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      drive_type = #{driveType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      nation = #{nation,jdbcType=VARCHAR},
      on_job = #{onJob,jdbcType=INTEGER},
      deltag = #{deltag,jdbcType=VARCHAR},
      companyid = #{companyid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, phone, sex, plate_no, company, drive_type, address, birth, nation, 
    on_job, deltag, companyid
    from driver_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, phone, sex, plate_no, company, drive_type, address, birth, nation, 
    on_job, deltag, companyid
    from driver_info
  </select>
  <select id="pageSelect" resultMap="BaseResultMap" parameterType="com.huashu.huashuManager.model.DriverInfo">
    select id, name, phone, sex, plate_no, company, drive_type, address, birth, nation,
    on_job, deltag, companyid
    from driver_info WHERE 1=1
    <if test="name != null and name !=''">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="phone != null and phone !=''">
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="plateNo != null and plateNo !=''">
      and plate_no = #{plateNo,jdbcType=VARCHAR}
    </if>
    <if test="companyid!=null and companyid !=''">
      and companyid = #{companyid,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectDriver" resultMap="BaseResultMap" parameterType="com.huashu.huashuManager.model.DriverInfo">
    select id, name, phone, sex, plate_no, company, drive_type, address, birth, nation,
    on_job, deltag, companyid
    from driver_info WHERE 1=1
    <if test="name != null and name !=''">
      and name LIKE CONCAT(CONCAT('%',#{name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="phone != null and phone !=''">
      and phone LIKE CONCAT(CONCAT('%',#{phone,jdbcType=VARCHAR}),'%')
    </if>
    <if test="plateNo != null and plateNo !=''">
      and plate_no LIKE CONCAT(CONCAT('%',#{plateNo,jdbcType=VARCHAR}),'%')
    </if>
    <if test="company!=null and company !=''">
      and company LIKE CONCAT(CONCAT('%',#{company,jdbcType=VARCHAR}),'%')
    </if>
    <if test="companyid!=null and companyid !=''">
      and companyid = #{companyid,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>