<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashu.huashuManager.mapper.ErrorCodeLibMapper">
  <resultMap id="BaseResultMap" type="com.huashu.huashuManager.model.ErrorCodeLib">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="album" jdbcType="VARCHAR" property="album" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="error_code" jdbcType="VARCHAR" property="errorCode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="deltag" jdbcType="VARCHAR" property="deltag" />
    <result column="analysis" jdbcType="LONGVARCHAR" property="analysis" />
    <result column="plan" jdbcType="LONGVARCHAR" property="plan" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from error_code_lib
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huashu.huashuManager.model.ErrorCodeLib">
    insert into error_code_lib (id, album, code, 
      error_code, type, deltag, 
      analysis, plan)
    values (#{id,jdbcType=VARCHAR}, #{album,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{errorCode,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{deltag,jdbcType=VARCHAR}, 
      #{analysis,jdbcType=LONGVARCHAR}, #{plan,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huashu.huashuManager.model.ErrorCodeLib">
    update error_code_lib
    set album = #{album,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deltag = #{deltag,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=LONGVARCHAR},
      plan = #{plan,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, album, code, error_code, type, deltag, analysis, plan
    from error_code_lib
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, album, code, error_code, type, deltag, analysis, plan
    from error_code_lib
  </select>
</mapper>