<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashu.huashuManager.mapper.UsersMessageMapper">
  <resultMap id="BaseResultMap" type="com.huashu.huashuManager.model.UsersMessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sender" jdbcType="VARCHAR" property="sender" />
    <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="is_read" jdbcType="INTEGER" property="isRead" />
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime" />
    <result column="mark" jdbcType="INTEGER" property="mark" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huashu.huashuManager.model.UsersMessage">
    insert into users_message (id, name, phone, 
      sender, post_time, type, 
      title, message, url, 
      model, is_read, read_time, 
      mark, open_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{sender,jdbcType=VARCHAR}, #{postTime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{isRead,jdbcType=INTEGER}, #{readTime,jdbcType=TIMESTAMP}, 
      #{mark,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.huashu.huashuManager.model.UsersMessage">
    update users_message
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=INTEGER},
      read_time = #{readTime,jdbcType=TIMESTAMP},
      mark = #{mark,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, phone, sender, post_time, type, title, message, url, model, is_read, 
    read_time, mark, open_id
    from users_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, phone, sender, post_time, type, title, message, url, model, is_read, 
    read_time, mark, open_id
    from users_message
  </select>
</mapper>